
<section id="home-section">
    <h3 id="about-me"> About me</h3>

    <div class="face-img"></div>

    <div class="blurb">
        <p class="blur">
            <strong>I specialize in Java/UI web development.</strong> Pursued my Master's in Computer Science and Bachelor's in
            Information Science Engineering. Skilled and experienced in single page application and handling restful web services on backend.
            Seeking for challenging opportunities to put current knowledge into practice and explore new learning frontiers.
        </p>
    </div>

    <div class="skill-lockup clearfix">

        <div ng-repeat="skill in skillset" class="skill-unit">
            <div class="skill-label">{{skill.skill}}</div>
            <div class="skill-icons skill-{{skill.rating}}">
                <span ng-repeat="skillrate in skillrate"
                      ng-class=" skillrate>skill.rating ? 'unchecked': 'checked'"></span>
            </div>
        </div>


    </div>


</section>