/* app css stylesheet */

body
{
    margin: 0;
    font-family: sans-serif;

}

.heading
{
    background: url("images/41H.jpg") no-repeat ;
    background-size: cover ;
    height: 320px ;
    text-align: center;
    padding-top: 120px;

}

.heading-name
{

    display: inline-block;
    font-size: 24px;
    letter-spacing: 0.15em;
    font-weight: 700;
    padding: 2px 20px;
    text-transform: uppercase;
    color: black;
    border: solid black 3px;
    text-align: center;

}

.description
{
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
}


ul {
    list-style-type: none;
}
li
{
    display: inline-block;
}

#document
{
    text-align: center;
}